<jp-alphabet-overlay [ngClass]="{'overlay-active': showOverlay}" (closeoverlay)="toggleOverlay()"></jp-alphabet-overlay>
<div class="jp-artists">
    <div class="jp-artists-container">
        <h4 class="chill-message">
            Your best friends...
        </h4>
        <div class="jp-alphabet-letter" (click)="toggleOverlay('letter-a')" >
            <a id="letter-a">A</a>
        </div>
        <div class="jp-artists-list">
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
        </div>
        <div class="jp-alphabet-letter" (click)="toggleOverlay('letter-b')" >
            <a id="letter-b">B</a>
        </div>
        <div class="jp-artists-list">
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
            <div class="jp-artist-list-item">
                <jp-media-box [backgroundImage]="artistImage" [title]="artistName"></jp-media-box>
            </div>
        </div>
        <jp-spacer></jp-spacer>
    </div>
</div>