<div class="jp-artist">
    <div class="jp-artist-container">
        <div class="jp-artist-album">
            <div class="jp-artist-album-info columns">
                <div class="jp-artist-album-image column is-3">
                    <img src="./assets/album-pic.jpg" alt="">
                </div>
                <div class="jp-artist-album-actions column">
                    <div class="jp-artist-actions-container">
                        <div class="info">
                            <h4 class="jp-artist-album-title">
                                Oh My God Charlie Darwin
                            </h4>
                            <p class="jp-artist-name">
                                By The Low Anthem
                            </p>
                        </div>
                        <div class="buttons half">
                            <jp-button [icon]="playButtonIcon" [buttonText]="playButtonText"></jp-button>
                            <jp-button [icon]="saveButtonIcon" [buttonText]="saveButtonText"></jp-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jp-artist-album-song-list">
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            </div>
        </div>
        <div class="jp-artist-album">
            <div class="jp-artist-album-info columns">
                <div class="jp-artist-album-image column is-3">
                    <img src="./assets/album-pic.jpg" alt="">
                </div>
                <div class="jp-artist-album-actions column">
                    <div class="jp-artist-actions-container">
                        <div class="info">
                            <h4 class="jp-artist-album-title">
                                Oh My God Charlie Darwin
                            </h4>
                            <p class="jp-artist-name">
                                By The Low Anthem
                            </p>
                        </div>
                        <div class="buttons half">
                            <jp-button [icon]="playButtonIcon" [buttonText]="playButtonText"></jp-button>
                            <jp-button [icon]="saveButtonIcon" [buttonText]="saveButtonText"></jp-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jp-artist-album-song-list">
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
                <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            </div>
        </div>
        <jp-spacer></jp-spacer>
    </div>
</div>