<div class="jp-song">
    <div class="jp-song-container">
        <div class="jp-song-save">
            <div class="icon-plus-container">
                <svg id="icon-plus" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>icon-plus</title><path class="icon-plus" [ngClass]="{'saved': saved}" d="M10,0a.37.37,0,0,0-.37.37V9.63H.37a.37.37,0,1,0,0,.74H9.63v9.26a.37.37,0,0,0,.74,0V10.37h9.26a.37.37,0,0,0,0-.74H10.37V.37A.37.37,0,0,0,10,0Z"/></svg>
            </div>
        </div>
        <div class="jp-song-title">
            <p>{{songTitle}}</p>
        </div>
        <div class="jp-song-artist">
            <p>{{songArtist}}</p>
        </div>
        <div class="jp-song-album">
            <p>{{songAlbum}}</p>
        </div>
        <div class="jp-song-length">
            <p>{{songLength}}</p>
        </div>
    </div>
</div>