<div class="jp-songs">
    <div class="jp-songs-container">
        <h1 class="chill-message">Our Jimmy Jams...</h1>
        <div class="jp-songs-shuffle-section">
            <jp-button [buttonText]="buttonText"[buttonColor]="buttonColor" [buttonTextColor]="buttonTextColor"></jp-button>
        </div>
        <div class="jp-songs-list">
            <div class="jp-alphabet-letter">
                <p>A</p>
            </div>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
            <jp-song [saved]="saved" [songTitle]="songTitle" [songArtist]="songArtist" [songAlbum]="songAlbum" [songLength]="songLength" ></jp-song>
        </div>
    </div>
</div>