<div class="jp-alphabet-overlay" (click)="closeOverlay()">
    <div class="jp-alphabet-overlay-container">
        <div class="jp-alphabet-letter overlay" simplePageScroll href="#letter-a">
            <a>A</a>
        </div>
        <div class="jp-alphabet-letter overlay" simplePageScroll href="#letter-b">
            <a>B</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-c">C</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-d">D</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-e">E</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-f">F</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-g">G</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-h">H</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a href="#letter-i">I</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>J</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>K</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>L</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>M</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>N</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>O</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>P</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>Q</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>R</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>S</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>T</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>U</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>V</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>W</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>X</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>Y</a>
        </div>
        <div class="jp-alphabet-letter overlay">
            <a>Z</a>
        </div>
    </div>
</div>