<div class="jp-volume">
    <div class="jp-volume-container">
        <div class="slider-label">
            <div class="volume-icon">
                <img src="./assets/icon-green-volume.svg" alt="">
            </div>
            <div class="volume-text">
                <p>Volume</p>
            </div>
        </div>
        <div class="volume-slider">
            <div class="range-numbers">
                <p>0</p>
                <p>12</p>
            </div>
            <input type="range">
        </div>
    </div>
</div>