<div class="jp-home-container">
    <div class="columns jp-home-row">
        <div class="column is-half jp-home-cell">
            <jp-green-card [icon]="dashItems[0].icon" [title]="dashItems[0].title"></jp-green-card>
        </div>
        <div class="column is-half jp-home-cell">
            <jp-green-card [icon]="dashItems[1].icon" [title]="dashItems[1].title"></jp-green-card>
        </div>
    </div>
    <div class="jp-home-row columns">
        <div class="jp-home-cell column">
            <jp-green-card [icon]="dashItems[2].icon" [title]="dashItems[2].title"></jp-green-card>
        </div>
        <div class="jp-home-cell column">
            <jp-green-card [icon]="dashItems[3].icon" [title]="dashItems[3].title"></jp-green-card>
        </div>
        <div class="jp-home-cell column">
            <jp-green-card [icon]="dashItems[4].icon" [title]="dashItems[4].title"></jp-green-card>
        </div>
    </div>
</div>